@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración global */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  text-align: center;
  color: #2c3e50;
}

h2 {
  font-size: 2em;
  line-height: 1.2;
  margin: 0;
  color: #ffffff;
}

/* Botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #535bf2;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Inputs */
input {
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 0.5em;
  width: 100%;
  font-size: 1em;
  color: #374151;
  background-color: #ffffff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  outline: none;
}

/* Ajustes para colores en modo claro */
@media (prefers-color-scheme: light) {
  body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
  }

  h1 {
    color: #213547;
  }

  h2 {
    color: #213547;
  }

  button {
    background-color: #f9f9f9;
    color: #213547;
  }

  button:hover {
    background-color: #535bf2;
    color: #ffffff;
  }
}
